body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-header {
    background-color: #222;
    color: white;
    padding: 40px 0; /* Agrandi */
    text-align: center;
    background-image: url('images/header-background.jpg');
    background-size: cover;
}

#main-header h1 {
    margin: 0;
    font-size: 48px; /* Taille du titre agrandie */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Changement de police */
}

#hero {
    background-image: url('image/michael-jordan fond.jpeg');
    background-size: cover;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

#hero a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Changement de police */
    font-size: 20px; /* Taille agrandie */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#highlighted-sneakers {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacement entre les sneakers */
    padding: 20px;
}

.highlighted-sneaker {
    flex: 1; /* Assure une répartition égale de l'espace */
    text-align: center;
    max-width: 45%; /* Limite la largeur pour éviter que les cases ne soient trop grandes */
}

.highlighted-sneaker img {
    max-width: 100%;
    height: auto;
}

#features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    width: calc(33.333% - 20px);
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
